<!-- <div class="body">
  <button mat-icon-button class="top-right-button" routerLink="/dashboard">
    <mat-label><small>  Back </small></mat-label>
  </button>

  <br>
  
  <h2 class="h2" >Data consume by consumer !!</h2>
  <ul>
      <li *ngFor="let message of messages">{{ message }}</li>
  </ul>
</div>


 -->

 <div class="body">
  <button mat-icon-button class="top-right-button" routerLink="/dashboard">
    <mat-label><small>Back</small></mat-label>
  </button>

  <br>
  
  <h2 class="h2">Data consumed by consumer !!</h2>
  <ul>
    <li *ngFor="let message of messages">{{ message }}</li>
  </ul>
</div>
